/*header*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 17px;
  list-style: circle;
  padding: 0;
}

.header__links-list li {
  margin-inline-start: 14px;
}

.header__links-list-item:first-child {
  list-style: none;
  margin-inline-start: 0;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 5px;
  line-height: 21px;
}

.header__link.active {
  text-decoration: none;
}

.header__logo{
  display: block;
}

.header__logo-image {
  height: 105px;
  width: 148px;
}

.address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  font-style: normal;
  max-width: 240px;
  line-height: 24px;
  font-size: 18px;
}

.address a {
  text-underline-offset: 5px;
}

/*секция cover*/
.cover {
  min-height: 100px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  color: #fff;
  position: relative;
  z-index: 2;
}

.aligned-text {
  display: grid;
  gap: 19px;
}

.aligned-text_center {
  justify-self: center;
}
.aligned-text_center::before {
  content: '';
  margin-left: 30px;
}

.aligned-text_right {
  justify-self: end;
}

.aligned-text_right::after {
  content: '';
  margin-right: -30px;
}

.cover__description {
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-block-start: 106px;
}

.cover__description-text {
  line-height: 28px;
  word-spacing: 20px;
}

.bet-button {
  text-transform: uppercase;
  background-color:transparent;
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  color: #fff;
}


/*секция lots*/
.lots {
  margin: 180px 24px 0;
}

.lots__heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding-inline-start: 40px;
  margin-block-end: 27px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 100px;  
}

.card-link {
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 48px 40px;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  padding-block-end: 35px;
  position: relative;
  z-index: 2;
}

.card__text {
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.lots__look-more-link {
  display: block;
  margin-block-start: 30px;
  padding-inline-start: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

/*секция about*/
.about {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  margin-block: 120px 180px;
  padding-inline: 24px;
  padding-block-start: 35px;
}

.about__column {
  display: grid;
  grid-template-rows: 240px minmax(min-content, 1fr);
  align-items: center;
}

.about__logo {
  justify-self: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block-start: 9px;
}

/*footer*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-inline: 50px;
  font-size: 18px;
  margin-block-end: 82px;
}

.footer .address {
  justify-self: start;
  max-width: 265px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer__menu-link.active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

